<!doctype html>
<html>
<head>
<link rel='stylesheet' type='text/css'  href="{{ url_for('static', filename='style.css')}}">
</head>
   <body id="bid">
    <form class="formstyle">
      <fieldset id="borderfrom">
      <table id="statustext">
         <nav>
            <tr> <td> <font size="2"> {{ email }} </font></td></tr>
            <tr> <td> <span style="font-weight: bold"> <font size="3"> {{ message }}  </font></span></td> </tr>
         </nav>
      </table>   
      </fieldset>   
      </form>
   </body>
</html>


